In [1]:
from pathlib import Path


import time
start_time=time.time()
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import os
import lmfit
import statsmodels.api as sm
import linmix
from scipy.stats import pearsonr
import pickle
import math
import itertools
import json
from logerr import logify

* s_obs \
604: https://articles.adsabs.harvard.edu//full/1986ApJ...300..624R/0000628.000.html \
595/HV/HX: https://articles.adsabs.harvard.edu//full/1986A%26A...160..374H/0000377.000.html \
Car: obs \
Orion: https://ui.adsabs.harvard.edu/abs/2008RMxAA..44..181G/abstract \
30 Dor: https://www.aanda.org/articles/aa/full_html/2013/07/aa20474-12/aa20474-12.html \
M8:

* s_inst \
604: https://articles.adsabs.harvard.edu/full/1988A%26A...198..283O \
595/HV/HX: https://articles.adsabs.harvard.edu//full/1986A%26A...160..374H/0000377.000.html \
Carina: https://www.aanda.org/articles/aa/full_html/2016/07/aa28169-16/aa28169-16.html \
Orion: https://ui.adsabs.harvard.edu/abs/2008RMxAA..44..181G/abstract \
30Dor: https://www.aanda.org/articles/aa/full_html/2013/07/aa20474-12/aa20474-12.html \
M8: https://articles.adsabs.harvard.edu//full/1973ApJ...183..851B/0000860.000.html \

* s2_fs \
H: https://ui.adsabs.harvard.edu/abs/2008RMxAA..44..181G/abstract 

* Te \
595/604: https://iopscience.iop.org/article/10.1088/0004-637X/700/1/654 \
HX/HV: \
https://articles.adsabs.harvard.edu//full/1986ApJ...300..624R/0000628.000.html \
https://ui.adsabs.harvard.edu/abs/2001A%26A...367..388H/abstract \
Dor: \
https://www.aanda.org/articles/aa/full_html/2018/06/aa32084-17/aa32084-17.html \
https://ui.adsabs.harvard.edu/abs/2010ApJS..191..160P/abstract \
Carina: https://www.aanda.org/articles/aa/full_html/2016/07/aa28169-16/aa28169-16.html \
M8: \
https://articles.adsabs.harvard.edu//full/1973ApJ...183..851B/0000860.000.html \
https://www.aanda.org/articles/aa/full_html/2017/08/aa30986-17/aa30986-17.html \
https://articles.adsabs.harvard.edu//full/1973ApJ...184...93B/0000094.000.html \
Orion: \
https://ui.adsabs.harvard.edu/abs/2008RMxAA..44..181G/abstract 

* s_los_lit \
604: \
(value) https://articles.adsabs.harvard.edu//full/1986A%26A...160..374H/0000377.000.html \
https://articles.adsabs.harvard.edu//full/1996AJ....112.1636M/0001640.000.html \
https://ui.adsabs.harvard.edu/abs/1995ApJ...444..200S/abstract \
595: \
(value) https://iopscience.iop.org/article/10.1088/0004-637X/700/2/1847 \
https://articles.adsabs.harvard.edu//full/1986A%26A...160..374H/0000377.000.html \
HV/HX: \
https://articles.adsabs.harvard.edu//full/1986A%26A...160..374H/0000377.000.html \
346: \
https://iopscience.iop.org/article/10.1086/367959/fulltext/ \
30Dor: \
(value) https://www.aanda.org/articles/aa/full_html/2013/07/aa20474-12/aa20474-12.html \
https://articles.adsabs.harvard.edu//full/1999MNRAS.302..677M/0000682.000.html \
M8:
https://articles.adsabs.harvard.edu//full/1973ApJ...183..851B/0000860.000.html

In [11]:
sigma_data = pd.read_table('sigmaH-data.csv', delimiter=',')
sigma_data['s2_th [km^2/s^2]']=(sigma_data['Te [K]']/10000)*82.5*(1/1.008)
sigma_data['s_los_calc [km/s]']=(sigma_data['s_obs [km/s]']**2-sigma_data['s_inst [km/s]']**2-sigma_data['s2_fs [km^2/s^2]']-sigma_data['s2_th [km^2/s^2]'])**0.5
sigma_data['~s_los_lit [km/s]'] = [6,11.7,0,22,10.1,10.5,10.3,16.83,17.8]
sigma_data['~s_los_lit_err [km/s]'] = [1,1.6,0,0,0,0.02,0.03,0.09,0.3]

sigma_data.round(2)

,Region,s_obs [km/s],s_inst [km/s],s2_fs [km^2/s^2],Te [K],s2_th [km^2/s^2],s_los_calc [km/s],~s_los_lit [km/s],~s_los_lit_err [km/s]
0,Orion,13.96,3.39,10.23,9100,74.48,9.93,6.00,1.00
1,M8,16.10,7.20,10.23,8605,70.43,11.26,11.70,1.60
2,Carina,22.40,8.00,10.23,10000,81.85,18.59,0.00,0.00
3,30Dor,24.40,7.80,10.23,10500,85.94,20.94,22.00,0.00
4,346,14.70,0.00,10.23,10000,81.85,11.14,10.10,0.00
5,Hubble X,15.00,4.30,10.23,11500,94.12,10.11,10.50,0.02
6,Hubble V,15.60,4.30,10.23,11500,94.12,10.98,10.30,0.03
7,NGC 595,20.50,4.30,10.23,7670,62.78,18.13,16.83,0.09
8,NGC 604,23.10,12.60,10.23,8660,70.88,17.14,17.80,0.30

In [20]:
sigma_data_2=pd.DataFrame()
sigma_data_2['Region']=sigma_data['Region']
sigma_data_2['~s_los_lit_corr [km/s]'] = (sigma_data['~s_los_lit [km/s]']**2-sigma_data['s2_fs [km^2/s^2]'])**0.5
sigma_data_2['~s_los_lit_corr_err+ [km/s]'] = ((sigma_data['~s_los_lit [km/s]']+sigma_data['~s_los_lit_err [km/s]'])**2-sigma_data['s2_fs [km^2/s^2]'])**0.5
sigma_data_2['~s_los_lit_corr_err- [km/s]'] = ((sigma_data['~s_los_lit [km/s]']-sigma_data['~s_los_lit_err [km/s]'])**2-sigma_data['s2_fs [km^2/s^2]'])**0.5
sigma_data_2['~s_los_lit_corr_err [km/s]'] = ((sigma_data_2['~s_los_lit_corr [km/s]']-sigma_data_2['~s_los_lit_corr_err- [km/s]'])+(sigma_data_2['~s_los_lit_corr_err+ [km/s]']-sigma_data_2['~s_los_lit_corr [km/s]']))/2

sigma_data_2.round(2)

,Region,~s_los_lit_corr [km/s],~s_los_lit_corr_err+ [km/s],~s_los_lit_corr_err- [km/s],~s_los_lit_corr_err [km/s]
0,Orion,5.08,6.23,3.84,1.19
1,M8,11.25,12.91,9.58,1.66
2,Carina,NaN,NaN,NaN,NaN
3,30Dor,21.77,21.77,21.77,0.00
4,346,9.58,9.58,9.58,0.00
5,Hubble X,10.00,10.02,9.98,0.02
6,Hubble V,9.79,9.82,9.76,0.03
7,NGC 595,16.52,16.61,16.43,0.09
8,NGC 604,17.51,17.82,17.21,0.30

In [3]:
def combine_moments(f1, v1, s1, f2, v2, s2, return_skew=False):
    """Find combined flux, mean velocity, and sigma for two components 
    with fluxes `f1` and `f2`, velocities `v1` and `v2`, and sigmas `s1` and `s2`. 
    Returns tuple of the combined moments: `f`, `v`, `s`."""
    f = f1 + f2
    v = (v1*f1 + v2*f2)/f
    ss = (s1*s1*f1 + s2*s2*f2)/f
    ss += f1*f2*(v1 - v2)**2 / f**2
    s = np.sqrt(ss)
    if return_skew:
        p1 = f1/f
        p2 = f2/f
        skew = p1*p2*(v1 - v2)*((1 - 2*p1)*(v1 - v2)**2 + 3*(s1**2 - s2**2))
        skew /= (p1*(p2*(v1 - v2)**2 + s1**2 - s2**2) + s2**2)**1.5
#        vmode = np.where(f1 > f2, v1, v2)
#        mskew = (v - vmode)/s
        return f, v, s, skew
    else:
        return f, v, s

In [4]:
combine_moments(0.3966,-6.404371,6.44256,0.60335,3.454723,6.069641)

(0.9999500000000001, -0.4555891960098004, 7.8710087604458)

In [5]:
print("--- %s seconds ---" % (time.time() - start_time))

--- 1.9338951110839844 seconds ---

In [6]:
!jupyter nbconvert --to script --no-prompt sigmalos.ipynb

[NbConvertApp] Converting notebook sigmalos.ipynb to script
[NbConvertApp] Writing 4515 bytes to sigmalos.py